# Ignore environment files
.env

# Ignore macOS .DS_Store files
.DS_Store

# Ignore JSON files
*.json
*.jsonl

# Ignore CSV files
*.csv

# Ignore Python bytecode files
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore output files
output/